@model DemoCharts.Models.Capacite

@{
    ViewBag.Title = "Home Page";
}

<div class="page">
    <div class="page-header">

    </div>

    <div class="page-content container-fluid">
        <!-- Panel Gauge -->
        <div class="panel">

            <div class="panel-body">
                <div class="row row-lg">
                    <div class="col-md-6">

                        <!-- Example Gauge Basic -->
                        <div class="example-wrap">
                            <div class="example">

                                <div class="gauge" id="disk" data-plugin="gauge" data-value="@Model.Disk" data-max-value="900">
                                    <canvas width="200" height="150"></canvas>
                                    <p class="text-uppercase"><strong>@Model.Disk<br/>Disk Utilization (SNMP)</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- End Example Gauge Basic -->
                    </div>

                    <div class="col-md-6">
                        <!-- Example Gauge Dynamic -->
                        <div class="example-wrap">
                            <div class="example">

                                <div class="gauge" id="cpu" data-plugin="gauge" data-value="@Model.CPU" data-max-value="900">
                                    <canvas width="200" height="150"></canvas>
                                    <p class="text-uppercase"><strong>@Model.CPU<br/>CPU Utilization (SNMP)</strong></p>
                                </div>
                            </div>
                        </div>
                        <!-- End Example Gauge Dynamic -->
                    </div>
                </div>

           
                <div class="col-md-6">
                    <!-- Example Gauge Sizing -->
                    <div class="example-wrap">
                        <div class="example">
                            <div class="gauge" id="memory" data-plugin="gauge" data-value="@Model.Memory" data-max-value="900">
                                <canvas width="200" height="150"></canvas>
                                <p class="text-uppercase"><strong>@Model.Memory<br/>Memory Utilization (SNMP)</strong></p>
                            </div>
                        </div>

                        @*<div class="col-md-4">
                    <div class="gauge" data-plugin="gauge" data-value="@Model." data-max-value="@Model.">
                        <canvas width="200" height="150"></canvas>
                        <p class="text-uppercase">11%<br />CPU Utilization(ViWeb)</p>
                    </div>
                </div>*@


                    </div>
                </div>
                <!-- End Example Gauge Sizing -->
            </div>
        </div>
        <!-- End Panel Gauge -->
    </div>
</div>
